body, html {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  font-family: 'Arial', 'Helvetica', 'Sans Sarif';
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#main-container {
  position: relative;
  clear: both;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#menubar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 75px;
  color: #f0f0f0;
  background-color: #333;
}
.menubar:after {
  content: ".";  
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}

#nav {
  position: absolute;
  top: 15px;
  left: 5px;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
  margin: 0;
  height: 50px;
  padding: 0 30px;
  color: #ffa800;
  font-size: 36px;
}

#nav li.selected {
  color: #fff;
}

#clock {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #00a8ff;
  font-size: 48px;
  z-index: 52;
}

#home, #news, #weather {
  display: none;
}

/* TESTS PAGE STUFF */
#score {
  background-color: #fff;
  width: 98%;
  padding: 10px 1%;
}

#question {
  padding: 30px;
  text-align: center;
  color: #333;
  font-size: 42px;
  line-height: 48px;
}

#answers {
  width: 95%;
  list-style: none outside none;
}

#answers li {
  border: solid #333 2px;
  margin: 25px 0;
  background-color: #fff;
}

#answers li.selected-answer {
  background-color: #999;
}


#answers li a h2 {
  position: absolute;
  left: -15px;
  top: -15px;
  display: block;
  padding: 5px;
  margin: 0;
  text-align: right;
  background-color: #333;
  color: #fff;
  font-size: 36px;
}

#answers li a {
  position: relative;
  display: block;
  padding: 10px 0 10px 45px;
  width: 1115px;
  height: 100%;
  color: #333;
  text-decoration: none;
}

#answers li a:hover, #answers li.selected-answer a {
  color: #fff;
}
