body, html {
  font-family: 'Arial', 'Helvetica', 'Sans Sarif';
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}
#main-container {
  position: relative;
  margin: 5% auto;
  width: 1260px;
  height: 768px;
}

#score {
  width: 1250px;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 24px;
  background-color: #333;
  color: #f0f0f0;
  text-align: right;
  font-weight: normal;
}

#question {
  padding: 30px;
  text-align: center;
  color: #333;
  font-size: 42px;
  line-height: 48px;
}

#answers {
  width: 95%;
  list-style: none outside none;
}

#answers li {
  border: solid #333 2px;
  margin: 25px 0;
}

#answers li.selected-answer {
  background-color: #ccccff;
}

#answers li a h2 {
  position: absolute;
  left: -15px;
  top: -15px;
  display: block;
  padding: 5px;
  margin: 0;
  text-align: right;
  background-color: #333;
  color: #fff;
  font-size: 36px;
}

#answers li.selected-answer a h2 {
  background-clor: #666;
}

#answers li a {
  position: relative;
  display: block;
  padding: 10px 0 10px 45px;
  width: 1115px;
  height: 100%;
  color: #333;
  text-decoration: none;
}

#answers li a:hover {
  color: #999;
}
